# Development settings
export DJANGO_SECRET_KEY=YOUR-SECRET-KEY
export DATABASE_NAME=autoreduction
export DATABASE_USERNAME=test-user
export DATABASE_PASSWORD=pass
export DATABASE_HOST=127.0.0.1
export DATABASE_PORT=3306
export ACTIVEMQ_USERNAME=admin
export ACTIVEMQ_PASSWORD=admin
export ACTIVEMQ_HOST=127.0.1.1
export ACTIVEMQ_PORT=61613
export ICAT_AUTH=simple
export ICAT_HOST=YOUR-ICAT-WSDL-URL
export ICAT_USER=YOUR-ICAT-USERNAME
export ICAT_PASSWORD=YOUR-PASSWORD
export CYCLE_USER=admin
export CYCLE_PASSWORD=admin
export CYCLE_UOWS_URL=https://api.url.com/?wsdl
export CYCLE_SCHEDULER_URL=https://api.url.com/?wsdl
export SFTP_USERNAME=admin
export SFTP_PASSWORD=admin
export SFTP_HOST=127.0.1.1
export SFTP_PORT=22
