[submodule "autoreduce-utils"]
	path = autoreduce-utils
	url = https://github.com/ISISScientificComputing/autoreduce-utils
[submodule "autoreduce-frontend"]
	path = autoreduce-frontend
	url = https://github.com/ISISScientificComputing/autoreduce-frontend
[submodule "autoreduce-db"]
	path = autoreduce-db
	url = https://github.com/ISISScientificComputing/autoreduce-db
[submodule "autoreduce-containers"]
	path = autoreduce-containers
	url = https://github.com/ISISScientificComputing/autoreduce-containers
[submodule "autoreduce-actions"]
	path = autoreduce-actions
	url = https://github.com/ISISScientificComputing/autoreduce-actions
[submodule "autoreduce-scripts"]
	path = autoreduce-scripts
	url = https://github.com/ISISScientificComputing/autoreduce-scripts
[submodule "ansible"]
	path = ansible
	url = https://github.com/ISISScientificComputing/ansible
	branch = master
[submodule "autoreduce"]
	path = autoreduce
	url = https://github.com/ISISScientificComputing/autoreduce
	branch = master
